$color-nav: rgb(0, 121, 200);
$color-white: #ffff;
$color-nav-hover: rgb(40, 86, 173);
$color-border-menu-item: #cccc;
.menu-bar {
  background-color: $color-nav;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  z-index: 5;
}
.logo-header{
  margin-top: -17px;
  width: 100%;
}

.navbar-inverse .navbar-nav > li > a {
  color: $color-white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: $color-nav-hover;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: $color-nav-hover
}

.dropdown-menu li {
  border-bottom: 1px solid $color-border-menu-item;
  a {
    color: blue;
  }
  a:hover{
    color: rgb(117,130,17);
    text-decoration: underline;
  }
}
.dropdown-menu li:last-child{
  border: none;
}

//.input {
//  width: 100%;
//  height: 20%;
//  .input2{
//    background-color: red;
//  }
//}
//
//.button{
//  @extend .input;
//  border: 2px;
//}
//@function getWidth($width){
//  @return ($width / 2)px;
//}
//
//@mixin demo_mixin($color) {
//    .mixin_demo{
//      background: $color;
//      width: getWidth(100);
//    }
//}
//
//@include demo_mixin(#cccc)